a,
button {
    cursor: pointer
}

h2,
h3 {
    color: #a8cf45 !important;
    text-transform: capitalize;
  

}
a{color: #a8cf45;}
p {
    line-height: 24px;
  }

*,
nav,
nav ul {
    padding: 0;
    margin: 0
}
ul li{list-style: none;}
.cta_flex,
.row,
nav ul {
    display: flex
}

*,
nav,
nav ul {
    margin: 0
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }

#open,
#open2,
nav a {
    color: #fff;
    font-size: 17px
}

a,
nav a {
    text-decoration: none
}

nav,
nav ul li:hover>ul {
    background-color: #a8cf45
}

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 4rem
}

body {
    font-family: sans-serif
}

h1 {
    font-size: 40px !important
}

h2 {
    font-size: 32px !important
}

h3 {
    font-size: 26px !important
}

h4 {
    font-size: 20px !important
}

.row {
    flex-flow: row wrap;
    margin: 0 -15px
}

.row[class^=col] {
    flex: 1 0 auto;
    padding: 0 15px
}

.row .col-1 {
    flex-basis: 8.33%;
    max-width: 8.33%
}

.row .col-2 {
    flex-basis: 16.66%;
    max-width: 16.66%
}

.row .col-3 {
    flex-basis: 25%;
    max-width: 25%
}

.row .col-4 {
    flex-basis: 33.33%;
    max-width: 33.33%
}

.row .col-5 {
    flex-basis: 41.66%;
    max-width: 41.66%
}

.row .col-6 {
    flex-basis: 50%;
    max-width: 50%
}

.row .col-7 {
    flex-basis: 58.33%;
    max-width: 58.33%
}

.row .col-8 {
    flex-basis: 66.66%;
    max-width: 66.66%
}

.row .col-9 {
    flex-basis: 75%;
    max-width: 75%
}

.row .col-10 {
    flex-basis: 83.33%;
    max-width: 83.33%
}

.row .col-11 {
    flex-basis: 91.11%;
    max-width: 91.11%
}

.row .col-12 {
    flex-basis: 100%;
    max-width: 100%
}
